# Для локального запуска БД localhost и порт 5433
DB_HOST=localhost
DB_PORT=5434

DB_USER=postgres
DB_PASS=admin
DB_NAME=analytics

# Для локального запуска Kafka localhost и порт 9094
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS_PORT=9094

# Группа для обработки payment-event
KAFKA_CONSUMER_GROUP=analytics-group

# Частота проверки событий в мс
KAFKA_CONSUMER_TIMEOUT=1000

# Максимальное количество записей для обработки
KAFKA_CONSUMER_MAX_RECORDS=5

# Для локального запуска Redis localhost и порт 6379
REDIS_HOST=localhost
REDIS_PORT=6379

# TTL для summary
REDIS_SUMMARY_EXPIRE=60