# Для локального запуска БД localhost и порт 5433
DB_HOST=localhost
DB_PORT=5434

DB_USER=postgres
DB_PASS=admin
DB_NAME=analytics

# Локальный порт для подключения к Kafka извне
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS_PORT=9094
KAFKA_CONSUMER_GROUP=analytics-group

# Локальный порт для подключения к Redis извне
REDIS_HOST=localhost
REDIS_PORT=6379
