# Для локального запуска БД localhost и порт 5433
DB_HOST=localhost
DB_PORT=5433

DB_USER=postgres
DB_PASS=admin
DB_NAME=test

# Адрес сервиса-провайдера платежей
PROVIDER_HOST=localhost
PROVIDER_PORT=7000

# Локальный порт для подключения к Kafka извне
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS_PORT=9094

# Интервал отправки событий в Kafka в секундах
OUTBOX_RELAY_INTERVAL=30